@charset "UTF-8";

@import '../class/_Class.scss';
.msgbox {
	@include absolute-position();
	display: none;
	z-index: 9999;
}
.msgbox  > .msgbox-container {
	@include absolute-position();

	display: flex;
	justify-content: center;
    align-items: center;
}
.msgbox .msgbox-content{
	flex:1;
	background-color: #fff;
	// margin:0 2em;
	border-radius:5px;
	/* padding:3px; */
	
	justify-content: center;
    align-items: center;

	box-orient: vertical;
	flex-direction: column;
	
	min-width: 15em;
	// max-width: 20em;
	max-height: 90%;
	margin: 6px;
}
.msgbox .msgbox-title{
	position: relative;
	text-align: center;
	font-size: 1.2em;
	padding:.4em;
	user-select:none;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.msgbox .msgbox-title .msg-title-txt{
	position: relative;
	z-index: 2;
}
.msgbox .msgbox-body{
	min-height:5em;
	position: relative;
	height: 100%;
}
.msgbox .msgbox-body-inner{
	min-height:5em;
	position: relative;
	z-index: 2;
	display: flex;
	box-orient: vertical;
	flex-direction: column;	
}
.msgbox .msgbox-msg{
	text-align: center;
	padding:1em 2em;
}
.msgbox .msgbox-buttons{
	padding: 0 .4em .6em;
	align-self: center;
	text-align: center;
}
.msgbox .msgbox-buttons .btn{
	margin: 0 5px;
}
.msgbox .inner-bg{
	@include inner-bg();
}
.msgbox .inner-bg .inner,
.msgbox .inner-bg .inner2{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-radius: 5px;
}