@charset "utf-8";
.ui-msgbox {
	@include posAbsolute(0,0,0,0, fixed);
	display: none;
	z-index: 9999;
}
.ui-msgbox > .msgbox-container {
	@include posAbsolute(0,0,0,0, fixed);
}

.ui-msgbox .msgbox-content {
	@include posAbsolute(0,0,0,0);
	background-color: #fff;
	border-radius: 5px;
	margin: auto;
	width: 200px;
	height: 106px;
	max-height: 700px;
}
.ui-msgbox .msgbox-title {
	position: relative;
	text-align: center;
	font-size: 14px;
	padding: 10px 4px;
	user-select: none;
	background-color: #e9e9e9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ui-msgbox .msgbox-title .msg-title-txt {
  position: relative;
  z-index: 2;
}

.ui-msgbox .msgbox-body {
  min-height: 50px;
  position: relative;
  height: 100%;
}

.ui-msgbox .msgbox-body-inner {
  min-height: 50px;
  position: relative;
  z-index: 2;
}

.ui-msgbox .msgbox-msg {
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
}

.ui-msgbox .msgbox-buttons {
  padding: 6px  14px;
  text-align: right;
}

.ui-msgbox .msgbox-buttons .btn {
  margin: 0 5px;
}

