@charset "utf-8";

.olvSelect{}
.olvSelect .olvSelect-wrap,
.olvSelect.olvSelect-wrap{
	position: relative;
	height: 31px;
}
/* 默认项 */
.olvSelect .olvSelect-placeholder{
	padding: 6px;
	border:1px solid #ccc;
	border-radius: 6px;
	font-size: 12px;
	user-select: none;
	color:#999;
	height: 31px;
	text-overflow: ellipsis;
	max-width: 100%;
	min-width: 100%;
	
	overflow: hidden;
	white-space: nowrap;
}
/* 选项盒子 */
.olvSelect-option-box .option-box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	z-index: 9;
	border:1px solid #ccc;
	border-radius: 6px;
}
/* 选项盒子状态 */
.olvSelect-option-box .option-box{
	// display: block;	
}

/* 选项 */
.olvSelect-option-box .option-box li{
	height: 31px;
	line-height: 31px;
	font-size: 14px;
}
/* 选中项, 鼠标滑入选项 状态 */

.olvSelect-option-box .option-box li:hover,
.olvSelect-option-box .option-box li.selected{
	background-color: #f8f8f8;
}
.olvSelect-option-box .option-box li.item-optgroup:hover{
	background-color: initial;
}
.olvSelect-option-box .option-box li:first-child:hover,
.olvSelect-option-box .option-box li:first-child.selected{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.olvSelect-option-box .option-box li:last-child:hover,
.olvSelect-option-box .option-box li:last-child.selected{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* 选项ico */
.olvSelect-option-box .option-box li .item-icon{
	margin: 0 10px;
	font-family: '800pai';
	color: blue;
	position: relative;
    top: 1px;
}
/* 选项组 */
.olvSelect .item-optgroup{
	color:#929292;
}
/* 选项组 子选项 无特殊意义, 增加下缩进 */
.olvSelect .item-optgroup-sub{
	text-indent: 12px;
	
}

.olvSelectMask{
	@include posAbsolute();
	z-index: 9999;
	display: none;
	background-image: url($opacity0);
	background-repeat: repeat; 
}


.olvSelect-option-box .option-box li.selected .item-icon:before{}
.olvSelect-option-box .option-box li:hover{}

.olvSelect-option-box .option-box li.disabled{
	background-color: #F3F3F3;
}
.olvSelect-option-box .option-box li.disabled ,
.olvSelect-option-box .option-box li.disabled .item-icon{
	color: #ccc;
}
.olvSelect-option-box .option-box li.disabled .item-icon:before{
	content: "\e604";
}
.olvSelect-option-box .option-box li .item-icon:before {
	content: "\e604";
}
.olvSelect-option-box .option-box li.selected .item-icon:before {
	content: "\e602";
}
.olvSelect-option-box .option-box li.item-optgroup .item-icon{
	margin-left: 0;
	margin-right: 0;
}
.olvSelect-option-box .option-box li.item-optgroup .item-icon:before{
	content: " ";
}
