<!DOCTYPE HTML>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"  name="viewport" >
<meta name="renderer" content="webkit|ie-stand">	
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/pengfeiWang/jquery-framework/master/style/main.css">
<style>
	.sub_content{
		margin-right: 100px;
	}
</style>
</head>
<body>
<div class="sub_content">
	
</div>
</body>
</html>