{% include head.html %}
<body>
<div class="wrapper">
	<div id="back_top"></div>
	<div id="edit"></div>
	<div id="aside">
		<div class="content">
			<h2 class="aside-title"> jquery framework </h2>
			<div class="olvMousewheel-wrapper">
				<div class="olvMousewheel-box">
					<div class="olvMousewheel-container">
						<div class="olvMousewheel-panel">
							<div class="olvMousewheel-content">
								{% include side-nav.html %}
							</div>
						</div>
						<div class="olvMousewheel-scrollbar">
							<div class="olvMousewheel-bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		{{ content }}
	</div>
</div>
{% include footer.html %}